extends layout

block content
    h1 Login
    p Please login using your account below
    form(id="signinForm" method="post" action="/users/signin")
        .form-group
            label(for="usernameInput") Username
            input.form-control(type="text" name="username" id="usernameInput" placeholder="Enter username")
            label(for="passwordInput") Password
            input.form-control(type="password" name="password" id="passwordInput" placeholder="Enter password")

        button.btn.btn-primary(id="submitBtn" type="submit") Login
